.suc-title {
	height: .44rem;
	background-color: rgb(50,103,204);
}
.suc-title-text{
	font-size: .18rem;
	line-height: 2.75;
	padding: 0 .5em;
	color: #fff;
}
.suc-container{
	background-color: rgb(213,222,236);
}
.suc-icon-box .icon-tick{
	font-size: .6rem;
	color: rgb(102,204,0);
}
.suc-icon-text{
	margin-top: .25em;
	font-size: .32rem;
	color: rgb(140,149,169);
}
.suc-notes-item{
	font-size: .16rem;
	margin-bottom: .25em;
	color: rgb(140,149,169);
}
.suc-btn-box{
	margin-bottom: .2rem;
}
.suc-info{
	width: 100%;
	padding: .1rem 0;
}
.suc-info-box{
	min-width: 3.2rem;
	width: 95%;
	margin: 0 auto;
	max-width: 6.4rem;
	padding: .1rem 0;
	border-radius: .05rem;
	background-color: rgb(247,250,252);
}
.suc-info-list{
	padding: 0 .05rem;
}
.suc-info-list:nth-child(n-2){
	border-left: 1px solid rgb(229,235,243);
}
.suc-info-text-lg,
.suc-info-text{
	margin-bottom: .1rem;
	color: #000;
}
.suc-info-text-lg{
	font-size: .18rem;
}
.suc-info-text{
	font-size: .14rem;
}
