.tabbar-labels {
    height: 52px !important;
}
.tabbar-labels span.tabbar-label {
    font-size: 15px !important;
}
/*#############用户管理部分################*/
.navbar {
    border-bottom: 1px solid #ddd;
}
[data-page="userListPage"].page .page-content ul li.usersList{
    font-size: 14px;
    color: #000 !important;
    background: #fefaf3;
    border: 2px solid transparent;
    -webkit-border-image: url(../img/icon/addr-bg.png) 113 0 round;
    -o-border-image: url(../img/icon/addr-bg.png) 113 0 round;
    border-image: url(../img/icon/addr-bg.png) 113 0 round;
    border-left-width: 0;
    border-right-width: 0;
}
[data-page="userListPage"].page .list-block.media-list .item-inner{
    padding-top: 5px;
    padding-bottom: 0px;
}
[data-page="userInfoPage"].page .icon-undefault{
    background-position: 0 -20px;
}
[data-page="userInfoPage"].page .delete-user{
    font-size:16px;
}
[data-page="userInfoPage"].page .sex{
    display: inline-block;
    width: 29px;
    text-align: center;
}
/*#############类别管理部分################*/
[data-page="categoryListPage"].page .page-content .contactsPage-item{
    height: 53px;
}
[data-page="categoryListPage"].page .page-content .contactsPage-item .grid{
    font-size:14px;
}
[data-page="categoryListPage"].page .page-content .contactsPage-item .item-inner.contacts-item-area{
    padding-top: 14px;
}
[data-page="categoryListPage"].page .page-content .contactsPage-item a.view-category{
    width:30px;
    height:30px;
    background-image: url(../img/icon/arrow-right.png);
    background-size: 8px 14px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
}
/*#############图书管理部分################*/
[data-page="bookListPage"].page .page-content .choose-book{
    height: 52px;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
}
[data-page="bookListPage"].page .page-content .choose-book .type-search{
    z-index:100;
    margin-left: 13px;
    position: relative;
    text-align: center;
    width: 16%;
    float: left;
    height: 35px;
    line-height: 45px;
    font-size: 15px;
}
[data-page="bookListPage"].page .page-content .choose-book .type-search span{
    color:#333 !important;
}
[data-page="bookListPage"].page .page-content .choose-book .type-search .type-icon{
    position: absolute;
    display: inline-block;
    width: 7px;
    height: 7px;
    bottom: 4px;
    right: -2px;
    background-image: url(../img/icon/arrow-bottom.png);
    background-repeat: no-repeat;
}
[data-page="bookListPage"].page .page-content .choose-book .type-search .myDiv{
    display:none;
}
[data-page="bookListPage"].page .page-content .choose-book .type-search .myDiv.showDiv {
    display: block;
    color: #fff;
    top: 37px;
    left: 2px;
    width: 94px;
    background:rgba(0,0,0,0.5) !important;
    line-height: 30px;
    position: absolute;
}
[data-page="bookListPage"].page .page-content .choose-book .type-search .myDiv.showDiv ul{
    background-color: #333 !important;
}
[data-page="bookListPage"].page .page-content .choose-book .choose-book-link{
    width: 90% !important;
}
[data-page="bookListPage"].page .page-content .choose-book .input-group-bg{
    z-index: 10;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 8px;
    left: 75px;
    background-color: #efefef;
    border: none !important;
}
[data-page="bookListPage"].page .page-content .choose-book .white-bg-1{
    display: inline-block;
    width: 5%;
    height: 34px;
    background-color: #fff;
    z-index: 30;
    position: absolute;
    left: 0px;
    border: none !important;
}
[data-page="bookListPage"].page .page-content .choose-book .white-bg-2{
    display: inline-block;
    width: 3%;
    height: 34px;
    background-color: #fff;
    z-index: 30;
    position: absolute;
    right: 31px;
    border: none !important;
}
[data-page="bookListPage"].page .page-content .card-navbar .navbar-list{
    height: 41px;
}
[data-page="bookListPage"].page .page-content .search-book{
    position: relative;
}
[data-page="bookListPage"].page .page-content .input-group-addon:first-child{
    z-index: 20;
    position: absolute;
    top: 8px;
    left:60px;
    border:none !important;
}
[data-page="bookListPage"].page .page-content .input-group-addon:last-child{
    position: absolute;
    top: 8px;
    right:-22px;
    border:none !important;
    height:18px;
}
[data-page="bookListPage"].page .page-content .search{
    border-left: 1px solid #ff6537;
    border-right: 1px solid #ff6537;
    border-bottom: 1px solid #ff6537;
    z-index: 20;
    position: absolute;
    height: 29px;
    top: 8px;
    width: 85%;
    padding-left: 20%;
    margin-left: 4%;
}
[data-page="bookListPage"].page .page-content .search-book .search-btn{
    width: 33px;
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 10px;
}
[data-page="bookListPage"].page .page-content .search-book .search-btn .item-btn {
    display: inline-block;
    width:32px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 5px 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
[data-page="bookListPage"].page .page-content .search-book .orange{
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f47414;
}
.page-content .listContainer .content-block-title{
    margin: 0;
    height: 30px;
    line-height: 30px;
    color: #666666;
    font-size: 12px;
    text-indent: 20px;
}
.page-content .listContainer .list-block{
    margin-top: 0;
    margin-bottom: 0;
}
.page-content .listContainer .book-item:after {
    content: '';
    position: absolute;
    left: 15px;
    bottom: auto;
    right: auto;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: #E5E5E5;
    display: block;
    z-index: 15;
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
}
.page-content .listContainer .book-item .author{
    color: #999; 
    font-size: 13px; 
    padding-left:10px;
}
.page-content .listContainer .book-item .item-after span{
    color: #333;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
}
[data-page="bookListPage"].page .add-btn {
    position: absolute;
    right: 7px;
    bottom: 15px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon/add.png);
    background-repeat: no-repeat;
    background-position: center center;
}
/*#############借阅管理部分################*/
[data-page="borrowListPage"].page .page-content .choose-client{
    height: 122px;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
}
[data-page="borrowListPage"].page .page-content .card-navbar .navbar-list{
    height: 41px;
}
[data-page="borrowListPage"].page .page-content .search-alient{
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    height: 50px;
    border-bottom: 1px solid #c8c8c8;
}

    /*搜索框*/
.input-group-addon {
    background-color: #fdfdfd;
    color: rgba(255, 255, 255, 0.6);
    padding: 6px 12px;
    top:8px;
    height: 16px;
    position: absolute;
}

.input-group-addon:first-child {
    /*border:none !important;*/
    border: 1px solid #d9d9d9;
    border-right: none;
    border-radius: 4px 0 0 4px;
    font-size: 12px;
    line-height: 1;
    border-right: 0;
    left:14px;
}

.input-group-addon:last-child {
    /*border:none !important;*/
    border: 1px solid #d9d9d9;
    border-left: none;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    right:14px;
    width:20px;
}
[data-page="borrowListPage"].page .page-content .search{
    position: absolute;
    background-color: #fdfdfd;
    height: 30px;
    top: 8px;
    width: 80%;
    margin-left: 12%;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    .search::-webkit-input-placeholder { /* WebKit browsers */
        color: #cccccc;
        font-size: 15px !important;
    }

    .search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #cccccc;
        font-size: 15px !important;
    }

    .search::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #cccccc;
        font-size: 15px !important;
    }

    .search:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #cccccc;
        font-size: 15px !important;
    }
/*##############选择用户页面#################*/
ul li .disabled, [disabled] {
    opacity: 0.8;
    pointer-events: none;
}
[data-page="selectUserPage"].page .list-block .item-inner {
    margin-left: 15px;
    font-size: 15px;
}
[data-page="selectUserPage"].page p .disabled{
    opacity: 0.2 !important;
}