* {
	margin: 0; padding:0;
	font-size: 12px;
}
html { 
	zoom: expression(function(ele){ 
		ele.style.zoom = "1"; 
		document.execCommand("BackgroundImageCache", false, true); 
		}(this)); 
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	background:#fff;
}

a:link {
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF6600;
	text-decoration: none;
}
img{
	border:0;
}

.required{
	background-image:url(../../sys/input_bg.png);
	background-position:100% 0;
	background-repeat:no-repeat;
}

.menuZone{
	border:1px #8abb12 solid;
	height:100%;
}

.menuLabel{
	line-height:25px;
	height:25px;
	border-bottom:1px #8abb12 solid;
	background-image:url(../../images/menubg.gif);
	color:#000000;
	font-weight:bold;
	overflow:hidden;
}

.TopHead {
	background-image: url(../../images/topbackground1.jpg);
	background-color: #64a201;
	background-repeat: no-repeat;
}
.TopBottom {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #d5d2d3;
	line-height: 25px;
	background-image: url(../../images/listheader.jpg);
}

.TopBottomText {
	font-size: 12px;
	color: #000000;
	margin-left: 3px;
}
.SearchTableTop{
	line-height: 20px;
	background-image: url(../../images/searchtop.jpg);
	background-repeat: no-repeat;
	width: 120px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 2px;
	padding-left: 15px;
	padding-bottom: 2px;
	letter-spacing: 2px;
	/*position:absolute;*/
}

<!--border_color -->
.SearchForm {
	border: 1px solid #8abb12;
}
<!--table_margin -->
.SearchTable {
	margin-top: 5px;
	margin-bottom: 5px;
}
.SearchTable td{
	height:24px;
	line-height:24px;
}
<!--table_height -->
.SearchTableLabel {
	line-height: 22px;
	text-align: right;
	font-size:12px;
}

.SearchTableData {
	line-height: 22px;
	text-align: left;
	font-size:12px;
}


.SearchTableDataText {
	border: 1px solid #8abb12;
	margin-left: 2px;
	width:131px;
	height:19px;
	line-height:19px;
	padding-left:2px;
}

.SearchTableData_Date {
	border: 1px solid #8abb12;
	margin-left: 2px;
	width: 73px;
}


.ListTableHeader {
	line-height: 23px;
	background-image: url(../images/listheader.jpg);
	background-repeat: repeat-x;
	text-align: center;
	font-weight:normal;
	color:#000000;
	border:1px #8abb12 solid;
	border-bottom:0;
}

.ListTableHeaderText {
	font-size: 13px;
	line-height: 23px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	padding-top:2px;
}
<!--border -->
.ListTableBody {
}
<!--bg_color -->
.ListTableBodyLabel {
	line-height: 20px;
	background-color: #ebf3fd;
	text-align: center;
	border-bottom: 1px #d0d0d0 solid;
	border-right: 1px #d0d0d0 solid;
	font-size:12px;
}
.ListTableBodyLabel a{
	color:#000000;
}
<!--bg_t_coler -->
.ListTableBodyData {
	line-height: 20px;
	text-align: center;
	font-size:12px;
	border-bottom: 1px #d5d5d5 solid;
	border-right: 1px #d5d5d5 solid;
/**	
	change:expression(
		  this.onmouseover=function(){
		    this.parentNode.style.background="#d0fc68";
		  },
		  this.onmouseout=function(){
		    this.parentNode.style.background="#FFFFFF";
		  }
		 );
**/		 
}

<!--bg_d_img -->

.PageInfoLabel {
	background-color: #efefef;
	background-image: url(../images/listheader.jpg);
	line-height: 25px;
	height: 25px;
	font-size: 12px;
	border-top:1px #8abb12 solid;
	border-bottom:1px #8abb12 solid;
	padding-left: 10px;
	color: #000000;
}
.PageInfoLabel td{
	padding-left: 10px;
	padding-right: 10px;
}

<!-- table_borber -->
.EditTable {
	background-color: #FFFFFF;
	border: 1px solid #8abb12;
	margin-top: 5px;
	color: #000000;
}
.EditTable tr{
	height:23px;
}
.EditTable td{
	padding-left:5px;
	padding-right:5px;
}
.EditTableHeader {
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	color: #000000;
	background-image: url(../images/listheader.jpg);
	background-repeat: repeat-x;
	text-align: left;
	font-weight:bold;
	padding-left:10px;
	border-top: 1px #8abb12 solid;
	border-left: 1px #8abb12 solid;
	border-right: 1px #8abb12 solid;
}
.EditTableBackground {
	background-color: #fcfcfc;
	border-left: 1px solid #8abb12;
	border-right: 1px solid #8abb12;
	border-bottom: 1px solid #8abb12;
}

.EditTableLabel {
	line-height: 25px;
	font-size: 12px;	
	text-align: right;
	color: #000000;
}

.EditTableKeyLabel{
  	line-height: 25px;
	font-size: 12px;  	
	text-align: right;
  	color: red;
   
}

.EditTableData {
	
}

.EditTableLine{
	height:4px;
	line-height:4px;
	font-size:1px;
	border-bottom: 1px dashed #8abb12;
}

<!-- text_borber -->
.EditTableDataText {
	border: 1px solid #8abb12;
	margin-left: 2px;
	width:131px;
	height:19px;
	line-height:19px;
	padding-left:2px;
}
.EditTableDataTextArea {
	border: 1px solid #8abb12;
	margin-left: 2px;
	width:600px;
	height:50px;
	padding-left:2px;
}

.EditTableDataFile {
	border: 1px solid #8abb12;
	margin-left: 2px;
	width:196px;
	height:19px;
	line-height:19px;
	padding-left:2px;
	background-color:#ffffff;
}

.EditTableDataEnum {
	line-height: 25px;
	font-size: 12px;	
	text-align: right;
	color: #000000;
	margin-left:2px;
}

.EditTableSubmit {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 22px;
	text-align: center;
}

.EditTableSubmitImage {
	font-size: 12px;
	width: 80PX;
	height:22px;
	border:0px;	
}
.Button {
	font-size: 12px;
	color: #000000;
	background:url(../images/button23.gif);
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #000000;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 23px;
	width: 84px;
}

.Button1 {
	font-size: 12px;
	color: #000000;
	background:url(../images/button23.gif);
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #000000;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 23px;
	width: 84px;
}

.LinkButton1 {
	font-size: 12px;
	color: #000000;
	background:url(../images/button23.gif);
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #000000;
	height: 21px;
	line-height: 21px;
	width: 84px;
}

.Button2 {
	font-size: 12px;
	color: #000000;
	background:url(../images/button23.gif);
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #000000;
	padding-top: 4px;
	padding-bottom: 2px;
	height: 23px;
	width: 84px;
}

.DetailTable {
	font-weight:normal;
	color:#000000;
	font-size:12px;
	border-collapse:collapse;
	border: 1px solid #8abb12;
}
.DetailTable th{
	line-height: 23px;
	font-weight:normal;
	border-left: 1px solid #8abb12;
	background-image: url(../images/th.jpg);
	background-color: #f0f0f0;
}

.DetailTable td{
	border: 1px solid #8abb12;
	line-height: 23px;
	padding-left:2px;
	padding-right:2px;
}

.DetailTableLable {
	line-height: 23px;
	text-align: center;
	font-size:12px;
}
.DetailTableData {
	line-height: 23px;
	text-align: center;
	font-size:12px;
/**
		change:expression(
		  this.onmouseover=function(){
		    this.parentNode.style.background="#d0fc68";
		  },
		  this.onmouseout=function(){
		    this.parentNode.style.background="#FFFFFF";
		  }
		 );
**/
}

.PageText {
	height: 18px;
	line-height: 16px;
	border: 1px solid #969696;
	font-size: 12px;
	text-align: center;
}
.PageButton {
	height: 18px;
	line-height: 16px;
	border: 1px solid #A5B5CC;
	font-size: 12px;
	background-color: #FAFAFA;
	color: #000000;
}

.PageLabe{
	color:red;
}

.ViewTable {
	background-color: #FFFFFF;
	border: 1px solid #8abb12;
	margin-top: 5px;
	color: #000000;
}

.ViewTable_t {
	background-color: #FFFFFF;
	border-top: 1px solid #8abb12;
	margin-top: 5px;
	color: #000000;
}

.ViewTable td{
	padding-left:5px;
	padding-right:5px;
}

.ViewTableHeader {
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	color: #000000;
	background-image: url(../images/listheader.jpg);
	background-repeat: repeat-x;
	text-align: left;
	font-weight:bold;
	padding-left:10px;
	border: 1px #8abb12 solid;
}
.ViewTableBackground {
	background-color: #fcfcfc;
	border-left: 1px solid #8abb12;
	border-right: 1px solid #8abb12;
	border-bottom: 1px solid #8abb12;
}

.ViewTableLabel {
	line-height: 25px;
	font-size: 12px;  	
	text-align: right;
	color: #000000;
	
}

.ViewTableKeyLabel{
  	line-height: 25px;
  	font-size: 12px;  	
	text-align: right;
  	color: red;
   
}

.ViewTableData {
	font-size: 12px;  	
	border-bottom: 1px dotted #8abb12;
	padding-top: 4px;
}

.ViewTableDataText {
	padding-top: 10px;
}

.ViewTableSubmit {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 22px;
	text-align: center;
}

.ViewTableSubmitImage {
	font-size: 12px;
	width: 80PX;
	height:22px;
	border:0px;	
}

.table{
	border: 1px #8abb12 solid;
	line-height: 21px;
	font-weight:normal;
	color:#000000;
	font-size:12px;
	border-collapse:collapse;
}

.table td a{
	color:#3f7f7f;
	text-decoration:underline;
}

.table td a:visited{
	color:#7f007f;
	text-decoration:underline;
}

.table caption{
	line-height: 23px;
	font-size: 13px;
	background-image: url(../images/listheader.jpg);
	background-repeat: repeat-x;
	text-align: center;
	font-weight:bold;
	color:#333333;
	border:1px #8abb12 solid;
}

.table tr{
/**	
	change:expression(
	  this.onmouseover=function(){
	    this.style.background="#d0fc68";
	  },
	  this.onmouseout=function(){
	    this.style.background="#FFFFFF";
	  }
	 );
**/	 
}

.table th{
	background-color: #f0f0f0;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#f5f6f9, EndColorStr=#e7ebef);
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f5f6f9 ), to( #e7ebef )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f5f6f9 , #e7ebef ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f5f6f9 , #e7ebef ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f5f6f9 , #e7ebef ); /* IE10 */
	background-image:      -o-linear-gradient( #f5f6f9 , #e7ebef ); /* Opera 11.10+ */
	background-image:         linear-gradient( #f5f6f9 , #e7ebef );
	font-size:13px;
	border-left: 1px #cdef7d solid;
	border-right: 1px #cdef7d solid;
	border-bottom: 1px #cdef7d solid;
	height:23px;
	font-weight:normal;
	padding-left:4px;
	padding-right:4px;
	overflow:hidden;
	word-break:keep-all;
	vertical-align: middle;
	cursor:hand;
}
.table td{
	border: 1px #cdef7d solid;
	height:23px;
	padding-left:4px;
	padding-right:4px;
	overflow:hidden;
	word-break:keep-all;
}

.sort-arrow {
 width: 11px;
 height: 7px;
 margin:0 4px;
 background: url(../images/sort-arrow.gif) no-repeat top left;
 border:0;
}

.sort-arrow.descending {
 background-position: 0 -47px; width: 11px; height: 7px; 
}
.sort-arrow.ascending {
 background-position: 0 -30px; width: 11px; height: 7px;
}
.sort-arrow.none {
 background-position: 0 0; width: 11px; height: 7px;
}

.l{
	text-align:left;
}
.c{
	text-align:center;
}
.r{
	text-align:right;
}

a.btnAdd, a.btnAssign, a.btnAttach, a.btnDel, a.btnSelect, a.btnInfo, a.btnLook, a.btnEdit, a.btnView, a.btnStop, a.btnWarn, a.btnChart, a.btnRate, a.btnRmb, a.btnStar, a.btnBallo, a.btnBallb, a.btnArrow, a.btnPie{
		background-image:url(../images/btn.gif); 
		background-repeat:no-repeat; 
		cursor:hand;
		width:22px; 
		height:20px; 
		overflow:hidden; 
		margin-right: 5px;
		margin-top:2px;
		padding-left:11px;	/*Í¼Æ¬Á´½Ó³ß´ç¿ØÖÆ*/
		padding-right:11px;	/*Í¼Æ¬Á´½Ó³ß´ç¿ØÖÆ*/
		padding-top:2px; 	/*Í¼Æ¬Á´½Ó³ß´ç¿ØÖÆ*/
		padding-bottom:8px; /*Í¼Æ¬Á´½Ó³ß´ç¿ØÖÆ*/
		}
a.btnAdd{ background-position: 0 0; }
a.btnAssign{ background-position: -32px 0; }
a.btnAttach{ background-position: -64px 0; }
a.btnDel{ background-position: -96px 0; }
a.btnInfo{ background-position: -128px 0; }
a.btnLook{ background-position: -160px 0; }
a.btnEdit{ background-position: -192px 0; }
a.btnSelect{ background-position: -224px 0; }
a.btnStop{ background-position: -256px 0; }
a.btnView{ background-position: -288px 0; }
a.btnWarn{ background-position: -320px 0; }
a.btnChart{ background-position: -352px 0; }
a.btnRate{ background-position: -384px 0; }
a.btnRmb{ background-position: -416px 0; }
a.btnStar{ background-position: -448px 0; }
a.btnBallo{ background-position: -480px 0; }
a.btnBallb{ background-position: -512px 0; }
a.btnArrow{ background-position: -544px 0; }
a.btnPie{ background-position: -576px 0; }

a.btnReturn{
	background-image:url(../images/return.gif); 
	background-repeat:no-repeat; 
	cursor:hand;
	width:50px; 
	height:23px; 
	overflow:hidden; 
	margin-right: 5px;
}

/* Ê×Ò³¿ØÖÆÌ¨ ¿ªÊ¼ */
.consoleLabel{
	line-height:25px;
	height:25px;
	border:1px #8abb12 solid;
	background-image:url(../../images/menubg.gif);
	color:#000000;
	font-weight:bold;
	padding-left:20px;
}

.consoleTh{
	line-height:25px;
	border:1px #8abb12 solid;
	background-image:url(../images/console.gif);
	color:#000000;
	font-weight:bold;
	text-align:center;
}

.consoleTable{
	margin-top:10px;
	border:1px #8abb12 solid;
	border-collapse:collapse;
}
.consoleTable tr{
	height:25px;
}
.consoleTable th{
	line-height:25px;
	border:1px #8abb12 solid;
	background-image:url(../images/console.gif);
	color:#000000;
	font-weight:bold;
	text-align:left;
	padding-left:20px;
}
.consoleTable td{
	border:1px #8abb12 solid;
	line-height:25px;
}
.consoleTable ul{
	margin:10px;
	list-style-type:circle;
}
.consoleTable li{
	margin-left:15px;
}

.consoleIcon{
	width:100px;
	height:100px;
	text-align:center;
}
.consoleIcon img{
	width:60px;
}

/* Ê×Ò³¿ØÖÆÌ¨ ½áÊø */


/* ÇÐ»»tabÒ³ ¿ªÊ¼ */
	.focusTab{
		color:black;
		font-weight:bold;
		background-color:#ddf79e;
		border-left:1px #55a62e solid;
		border-top:1px #55a62e solid;
		border-right:1px #55a62e solid;
		line-height:24px;
		float:left;
		margin-left:2px;
		padding-left:10px;
		padding-right:10px;
	}
	
	.unfocusTab{
		color:black;
		font-weight:normal;
		cursor:pointer;
		background-color:#feffff;
		border-left:1px #55a62e solid;
		border-top:1px #55a62e solid;
		border-right:1px #55a62e solid;
		line-height:24px;
		float:left;
		margin-left:2px;
		padding-left:10px;
		padding-right:10px;
	}
	
	.focusLayer{
		display:block;
	}
	
	.unfocusLayer{
		display:none;
	}

	.radioGroup{
		
	}
	
	.radioGroup li{
		float:left;
		padding-right:20px;
	}
/* ÇÐ»»tabÒ³ ½áÊø */