.body {
	font-family: "宋体";
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#dakuangjia{
	width:1002px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
/*头部-开始*/
#tou{
	width:946px;
	height:122px;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
}
/*-------头部-结束--------*/
/*-------广告-开始--------*/
#guanggao{
	width:930px;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 8px solid #1681D3;
}
/*-------底部-开始--------*/
#di{
	width:946px;
	height:130px;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
}
/*-------底部-结束--------*/
/*-------字体设置---------*/
.font_title{
	font-family:"黑体";
	font-size:18px;
	border-bottom:1px #1681d3 solid;
	background:url(../business/images/dw_bg.jpg) repeat-x;
}
.td_info{
	padding:5px 35px 0px 35px;
	font-size:14px;
	line-height:30px;
}
A..E-font:link {
	FONT-SIZE: 12px; COLOR: #134290; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A..E-font:visited {
	FONT-SIZE: 12px; COLOR: #134290; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.E-font:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.font_color{
     color: #134290;
}